:root {
    --font-family: "Spline Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header, footer {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 10px 0;
}

main {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

form label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

fieldset {
    margin-bottom: 15px;
    background-color: #f1f1f1;
}

input[type=date], fieldset select, fieldset textarea {
    min-width: 97%;
    align-items: center;
    padding: 8px;
    margin: 10px 0 5px;
}

.review {
    text-align: center;
}