@media screen and (min-width: 701px) {
    body {
        grid-template: auto 1fr auto / 1fr;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr; /* Three equal columns */
        grid-template-rows: 1fr;
        background: url('../images/adansonia.webp'); /* Background image */
        position: relative;
    }

    h2 {
        background-color: var(--tertiary-color);
    }

    header {
        background-size: cover;
        background-position: center;
        color: var(--secondary-color); /* Ensure text remains readable */
        padding: 2rem 0;
        position: relative;
    }

    main > img {
        display: none; /* Hide the original image element */
    }

    .data {
        justify-content: left;
    }

    .data section {
        padding: 1rem;
    }
    
    .weather {
        justify-content: right;
        justify-content: baseline;
        grid-template: auto 1fr / auto auto;
    }

    .weather section {
        padding: 1rem;
    }

    .weather img {
        align-content: center;
        max-width: 100px;
        max-height: auto;
        margin: auto;
    }
}